# Spanish Translation - A/B Testing

In [1]:
import pandas
pandas.set_option('display.max_columns', 20)
pandas.set_option('display.width', 350)
  
'''Data Import'''
user = pandas.read_csv("D:/Master/Programming/DS/Collection of data challenge/2. Takehome Challenge/2. A_B TESTING- Spanish Translation with Solution/Data File/user_table.csv")
test = pandas.read_csv("D:/Master/Programming/DS/Collection of data challenge/2. Takehome Challenge/2. A_B TESTING- Spanish Translation with Solution/Data File/test_table.csv")

'''Data Quality Check'''
user.head()
user.info(' ')
user.describe()

test.head()
test.info(' ')
test.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452867 entries, 0 to 452866
Data columns (total 4 columns):
user_id    452867 non-null int64
sex        452867 non-null object
age        452867 non-null int64
country    452867 non-null object
dtypes: int64(2), object(2)
memory usage: 13.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453321 entries, 0 to 453320
Data columns (total 9 columns):
user_id             453321 non-null int64
date                453321 non-null object
source              453321 non-null object
device              453321 non-null object
browser_language    453321 non-null object
ads_channel         181877 non-null object
browser             453321 non-null object
conversion          453321 non-null int64
test                453321 non-null int64
dtypes: int64(3), object(6)
memory usage: 31.1+ MB

              user_id     conversion           test
count   453321.000000  453321.000000  453321.000000
mean    499937.514728       0.049579       0.476446
std     288665.193436       0.217073       0.499445
min          1.000000       0.000000       0.000000
25%     249816.000000       0.000000       0.000000
50%     500019.000000       0.000000       0.000000
75%     749522.000000       0.000000       1.000000
max    1000000.000000       1.000000       1.000000